HELP.md
*.env
*.log
*.out
*.exe
*.test
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.idea/

### Kotlin ###
.kotlin
.DS_Store

*.hprof
/.env
.infra/terraform/cluster-eks/.terraform.lock.hcl
.infra/terraform/cluster-eks/.terraform.tfstate.lock.info
.infra/terraform/cluster-eks/terraform.tfstate
.infra/terraform/cluster-eks/.terraform/providers/registry.terraform.io/hashicorp/aws/5.69.0/linux_amd64/terraform-provider-aws_v5.69.0_x5
.infra/terraform/rds-postgres/.terraform.lock.hcl
.infra/terraform/rds-postgres/terraform.tfstate
.infra/terraform/rds-postgres/terraform.tfstate.backup
.infra/terraform/rds-postgres/.terraform/providers/registry.terraform.io/hashicorp/aws/5.69.0/linux_amd64/LICENSE.txt
.infra/terraform/cluster-eks/.terraform/providers/registry.terraform.io/hashicorp/aws/5.69.0/linux_amd64/LICENSE.txt
.infra/terraform/rds-postgres/.terraform/providers/registry.terraform.io/hashicorp/aws/5.69.0/linux_amd64/terraform-provider-aws_v5.69.0_x5
.infra/localstack/

*.jpg:Zone.Identifier
*.terraform.lock.hcl
*terraform.tfstate
*terraform-provider*
/volume/*
/.infra/terraform/rds-postgres/.terraform/providers/registry.terraform.io/hashicorp/aws/5.65.0/linux_amd64/LICENSE.txt

tmp/
postgres/
bin/
db/
